<div class="upcoming-event-card">
  <div class="card minute-top collapsible" type="button">
    <span class="tooltiptext">Click to view details</span>
    <h4 class="card-subtitle">Upcoming Events</h4>
  </div>
  <!-- <hr style="border-top: 1px solid white; margin: 10px 0px" /> -->
  <!-- Add from database -->
  <% var upcoming = 0, completed =0 %>
  <% events.forEach(events => { %>
  <% if (!events.isCompleted) { %>
  <%  upcoming = 1 %>
  <% } %>
  <% if (events.isCompleted) { %>
  <%  completed = 1 %>
  <% } %>
  <% }) %>
  <div class="card upcoming-events-div" style="display: none;">
    <% if (!upcoming) { %>
      <p style="font-size: 16px; font-weight: 500;">No Upcoming Events!</p>
      <% } %>
    <%var i = 1%> <% if( Array.isArray(events) ) { %> <%events.forEach(
    function( events ){ %>
      <% if (!events.isCompleted) { %>
      <div class="card each-event-card" style="padding-top: 30px;">
        <div class="upcoming-header">
          <h6><%= i%>) <%= events.event%></h6>
        </div>
        <p>
          <%= events.description%>
        </p>
        <span>Due Date: <%= events.dueDate.toLocaleString()%></span>
        <% date = new Date()%>
        <%  if (events.dueDate.getTime()<date.getTime()) { %>
        <span class="badge badge-warning overdue">Overdue</span>
        <%}%>
        <% i++ %> </div>
        <%}%>
      <%})}%>
    </div>

  <% if (completed) { %>
    <div class="card minute-top collapsible" type="button">
      <span class="tooltiptext">Click to view details</span>
      <h4 class="card-subtitle">Completed Events</h4>
    </div>
    <div class="card completed-events" style="display: none;">
      <!-- <hr style="border-top: 1px solid white; margin: 10px 0px" /> -->
      <% if( Array.isArray(events) ) { %> <%events.forEach(
        function( events ){ %>
      <% if (events.isCompleted) { %>
      <h6><i class="fa fa-check"></i><%= events.event%></h6>
      <% }%><%})}%>
    </div>
  
    <% } %>

  <div class="card minute-top collapsible" type="button">
    <span class="tooltiptext">Click to view details</span>
    <h4 class="card-subtitle add-event-text">Member Details</h4>
  </div>
  <div class="card" style="display: none;">
  <h4 class="card-subtitle">Supervisor</h4>
    <hr style="border-top: 1px solid white; margin: 10px 0px" />
    
    <% if( Array.isArray(project) ) { %>
    <%project.forEach( function(project ){ %>
      <% project.supervisor.forEach(element => { %>
        <% if (element!= null) { %>
          <h6 style="margin-bottom: 10px"><%= element.split(':')[0]%></h6>
          <p style="margin-bottom: 10px"><%= element.split(':')[1]%></p>
        <% } %>
        
      <% }) %>
  <br>
  <h4 class="card-subtitle">Students</h4>
  <hr style="border-top: 1px solid white; margin: 10px 0px" /> 
  <% project.team.forEach(element => { %>
    <% if (element!= null) { %>
      <h6 style="margin-bottom: 10px"><%= element.split(':')[0]%></h6>
      <p style="margin-bottom: 10px"><%= element.split(':')[1]%></p>
    <% } %>
  <% }) %>
    <%})}%>
  </div>
</div>
