<div class="card upcomingEventTeach">
    <h4 class="card-title">Upcoming Events</h4>
    <!-- <hr style="border-top: 1px solid white; margin-top: 0; margin-bottom: 5px"> -->
    <hr style="border-top: 1px solid white; margin: 10px 0px" />

    <div class="upcoming-events-div">
      <%var i = 1%> <% if( Array.isArray(events) ) { %> <%events.forEach(
      function( events ){ %>
      <div class="upcoming-header">
        <h6><%= i%>) <%= events.event%></h6>
        <div>
          <label for="completed">Done</label>
          <% if (!events.isCompleted) { %>
            <input type="checkbox"  disabled="disabled" /> <% } 
            else { %>
              <input type="checkbox" checked="checked" disabled="disabled" />
              <input type="hidden" name="fieldname" value="fieldvalue" /> 
          <% }%>
        </div>
      </div>



      <p>
        <%= events.description%>
      </p>
      <span>Date: 07/20/2021</span>
      <% i++ %> <%})}%>
    </div>
    <h4 class="card-subtitle add-event-text">Add Events</h4>
    <hr style="border-top: 1px solid white; margin: 10px 0px" />
    <div class="add-events">
      <form
        method="POST"
        action="/project/event/save/<%= pId%>"
        class="login-form add-events-form"
      >
        <div class="form-group">
          <label for="name">Title : </label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
          />
        </div>
  
        <div class="form-group">
          <label for="college">Description:</label>
          <textarea
            type="string"
            class="form-control"
            id="description"
            name="description"
          >
          </textarea>
        </div>
  
        <div class="form-group">
          <label for="name">Date : </label>
          <input
            type="date"
            class="form-control"
            id="eventDate"
            name="eventDate"
            required
          />
        </div>
        <button
          class="btn btn-primary logout-btn events-btn"
          name="action"
          type="submit"
          style="width: 30%; min-width: 60px;"
        >
          Add
        </button>
      </form>
    </div>
    <h4 class="card-subtitle">Supervisor</h4>
    <hr style="border-top: 1px solid white; margin: 10px 0px" />
    
  <% project.supervisor.forEach(element => { %>
    <p style="margin-bottom: 10px"><%= element%></p>
  <% }) %>
 
  
  <br>
  <h4 class="card-subtitle">Students</h4>
  <hr style="border-top: 1px solid white; margin: 10px 0px" /> 
    
      <% project.team.forEach(element => { %>
        <p style="margin-bottom: 10px"><%= element%></p>
      <% }) %>

</div>