<div class="card upcoming-event-card">
  <h4 class="card-title">Upcoming Events</h4>
  <!-- <hr style="border-top: 1px solid white; margin-top: 0; margin-bottom: 5px"> -->
  <hr style="border-top: 1px solid white; margin: 10px 0px" />
  <% var upcoming = 0, completed =0 %>
  <% events.forEach(events => { %>
  <% if (!events.isCompleted) { %>
  <%  upcoming = 1 %>
  <% } %>
  <% if (events.isCompleted) { %>
  <%  completed = 1 %>
  <% } %>
  <% }) %>
  <div class="upcoming-events-div">
    <% if (!upcoming) { %>
      <p>No Upcoming events!</p>
      <% } %>
    <%var i = 1%> <% if( Array.isArray(events) ) { %> <%events.forEach(
    function( events ){ %>
    <% if (!events.isCompleted) { %>
      <div class="card each-event-card">
      <div class="upcoming-header">
        <h6><%= i%>) <%= events.event%></h6>
        <div>
          <label for="completed">Done</label>
          <% if (!events.isCompleted) { %>
          <input type="checkbox"
            onclick='window.location.assign("/project/event/completed/<%= (project._id).toString() %>/<%= (events._id).toString() %>")'
            name="completed" class="completed-checkbox" /> <% } 
            else { %> <input
            onclick='window.location.assign("/project/event/remaining/<%= (project._id).toString() %>/<%= (events._id).toString() %>")'
            type="checkbox" name="completed" class="completed-checkbox" checked />
          <% }%>
        </div>
      </div>
      <p>
        <%= events.description%>
      </p>
      <div class="overdue-section">
        <span>Due Date: <%= events.dueDate.toLocaleString()%></span>
        <% function dhm(ms){
            days = Math.floor(ms / (24*60*60*1000));
            daysms=ms % (24*60*60*1000);
            hours = Math.floor((daysms)/(60*60*1000));
            hoursms=ms % (60*60*1000);
            minutes = Math.floor((hoursms)/(60*1000));
            minutesms=ms % (60*1000);
            sec = Math.floor((minutesms)/(1000));
            return [days,hours,minutes,sec]
        }
        date = new Date()
        %>
        <% if (events.dueDate.getTime()<date.getTime()) { %>
        <span class="badge badge-warning overdue">Overdue</span>
        <%} else { %>
        <% d=dhm(events.dueDate.getTime()-date.getTime()) %>
        <span class="badge badge-info overdue remaining"><%= d[0] %> days <%= d[1] %> hours <%= d[2] %> minutes left </span>
        <% }%>
        <% i++ %>
      </div>
    </div> 
    <% }%> <%})}%>
  </div>
  <% if (completed) { %>
    <h4 class="card-subtitle">Completed Events</h4>
    <hr style="border-top: 1px solid white; margin: 10px 0px" />
    <div class="completed-events">
      <% if( Array.isArray(events) ) { %> <%events.forEach(
        function( events ){ %>
      <% if (events.isCompleted) { %>
      <h6><i class="fa fa-check"></i><%= events.event%></h6>
      <% }%><%})}%>
    </div>
  
    <% } %>
  
  <h4 class="card-subtitle add-event-text">Add Events</h4>
  <hr style="border-top: 1px solid white; margin: 10px 0px" />
  <div class="add-events">
    <form
      method="POST"
      action="/project/event/save/<%= pId%>"
      class="login-form add-events-form"
    >
      <div class="form-group">
        <label for="name">Title : </label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        />
      </div>

      <div class="form-group">
        <label for="college">Description:</label>
        <textarea
          type="string"
          class="form-control"
          id="description"
          name="description"
        >
        </textarea>
      </div>

      <div class="form-group">
        <label for="name" style="min-width:38.45px;">Date : </label>
        <input
          type="date"
          class="form-control"
          id="eventDate"
          name="eventDate"
          required
        />
      </div>
      <button
        class="btn btn-primary logout-btn events-btn"
        name="action"
        type="submit"
        style="width: 30%; min-width: 60px;"
      >
        Add
      </button>
    </form>
  </div>
  <h4 class="card-subtitle">Supervisor</h4>
  <hr style="border-top: 1px solid white; margin: 10px 0px" />
  
<% project.supervisor.forEach(element => { %>
  <% if (element!= null) { %>
    <p style="margin-bottom: 10px"><%= element.split(':')[0]%></p>
  <% } %>
  
<% }) %>


<br>
<h4 class="card-subtitle">Students</h4>
<hr style="border-top: 1px solid white; margin: 10px 0px" /> 
  
    <% project.team.forEach(element => { %>
      <% if (element!= null) { %>
        <p style="margin-bottom: 10px"><%= element.split(':')[0]%></p>
      <% } %>
    <% }) %>

    <% if (userstatus == "student"){%>
      <a type="button" class="btn btn-primary logout-btn events-btn" href="/student/eachProject/addMinutes/<%= pId%>">
        Add Minutes
      </a>
    <%}%>
    <%- include('messages') %>
</div>