
<div class="view" id="sem8">
    <h5>Ongoing Projects</h5>
    <% if( Array.isArray(projects) ) { %>
    <%projects.forEach( function(projects ){ %>
    <% if(projects.semester=="8" ) { %>
    <div class="card ">
        <div class="project-card">
            <h4 class="card-title"><%= projects.projectname%></h4>
            <p class="card-text">SUPERVISED BY: <%= projects.supervisor%><br />
                STUDENTS:
                <% projects.team.forEach(function(team) { %>
                <% if(team!=null ) { %>
                    <% team = team.substring(0, team.indexOf("."))%>
                    <% team = map[team] %> 
                       <%= team %> 
                <br />
                <% }})%>

                                CREATED ON: <%=projects.createdDate.toLocaleString()%></p>
        </div>
            <% if (userstatus == "teacher") { %>
                <a href="/teacher/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
            <% } else if (userstatus == "student") { %>
                <a href="/student/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
            <% } else { %>
                <a href="/admin/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
            <% } %>
        </div>
    <%}})}%>
</div>