        <div class="view hide hidden" id="sem7">
            <% var ongoing=0;var compProjects = new Array();projects.forEach(projects => { %>
                <% if (!projects.isCompleted && projects.semester=="7") { %>
                    <% ongoing+=1; %>
                    <% } else { %>
                        <% if (projects.semester == "7") { %>
                            <% compProjects.push(projects) %> 
                        <% } %> 
                <% } %>
               <% }) %>
               <% if (ongoing>0) { %>
                <h5>Ongoing Projects</h5>
                <% if( Array.isArray(projects) ) { %>
                <%projects.forEach( function(projects ){ %>
                <% if(projects.semester=="7" && !projects.isCompleted ) { %>
                <div class="card ">
                    <div class="project-card">
                        <h4 class="card-title"><%= projects.projectname%></h4>
                        <p class="card-text">SUPERVISED BY: <%= projects.supervisor[0].split(':')[0]%><br />
                            STUDENTS:
                            <% projects.team.forEach(function(team) { %>
                            <% if(team!=null ) { %>
                                <% team = team.split(':')[0]%>
                            <%= team.split(' ').pop().charAt(0)%>.<%=
                                            team.split(' ')[0]%>,<% }}) %><br />
    
                                            CREATED ON: <%=projects.createdDate.toLocaleString()%></p>
                                            <div class="project-badges">
                                                <span class="badge badge-secondary"><%=projects.subject%></span>
                                                <span class="badge badge-secondary"><%=projects.faculty%></span>
                                                <%if(projects.midDefence.approved === true){%>
                                                    <span class="badge badge-success">Mid Defence Approved</span>
                                                <%}else if(projects.midDefence.approved === true){%>
                                                    <span class="badge badge-info">Mid Defence Approval Pending</span>
                                                <%}%>
                                                <%if(projects.finalDefence.approved === true){%>
                                                    <span class="badge badge-success">Final Defence Approved</span>
                                                <%}else if(projects.finalDefence.approved === true){%>
                                                    <span class="badge badge-info">Final Defence Approval Pending</span>
                                                <%}%>
                                                <%if(projects.finalDefence.called === true){%>
                                                    <span class="badge badge-success">Final Defence Called</span>
                                                <%}else if(projects.midDefence.called === true){%>
                                                    <span class="badge badge-success">Mid Defence Called</span>
                                                    <%}%>
                                            </div>
                           
                    </div>
                        <% if (userstatus == "teacher") { %>
                            <a href="/teacher/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
                        <% } else if (userstatus == "student") { %>
                            <a href="/student/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
                        <% } else { %>
                            <a href="/admin/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
                        <% } %>
                    </div>
               <%}})}%>
    
               <% } %>
           
                  <% if (compProjects.length>0) { %>
                    <h5>Completed Projects</h5>
                    <% if( Array.isArray(projects) ) { %>
                      <% if (projects.completed) { %>
                       
                      <% } %>
                    <%compProjects.forEach( function(projects ){ %>
                    <% if(projects.semester=="7" ) { %>
                    <div class="card ">
                        <div class="project-card">
                            <h4 class="card-title"><%= projects.projectname%></h4>
                            <p class="card-text">SUPERVISED BY: <%= projects.supervisor[0].split(':')[0]%><br />
                                STUDENTS:
                                <% projects.team.forEach(function(team) { %>
                                <% if(team!=null ) { %>
                                    <% team = team.split(':')[0]%>
                                <%= team.split(' ').pop().charAt(0)%>.<%=
                                                team.split(' ')[0]%>,<% }}) %><br />
                  
                                                CREATED ON: <%=projects.createdDate.toLocaleString()%>
                              </p>
                              <div class="project-badges">
                                  <span class="badge badge-secondary"><%=projects.subject%></span>
                                  <span class="badge badge-secondary"><%=projects.faculty%></span>
                                  <%if(projects.isCompleted === true){%>
                                    <span class="badge badge-success">Completed</span>
                                <%}%>
                              </div>
                          </div>
                            <% if (userstatus == "teacher") { %>
                                <a href="/teacher/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
                            <% } else if (userstatus == "student") { %>
                                <a href="/student/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
                            <% } else { %>
                                <a href="/admin/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
                            <% } %>
                        </div>
                    <%}})}%>
                    <% } %> 
        </div>