<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>

  <body style="background-color: #1f3750">
    <%- include('partials/adminHeader') %>
    <div class="student-dashboard container">
      <a
        type="button"
        class="btn btn-primary logout-btn admin"
        href="/admin/createTeam"
      >
        Create Team
      </a>
      <div class="buttons-div row">
        <button id="showProjects8Btn" studentData-launch-view="sem8" class="col semBtn activeBtn">
            8th Sem
        </button>
        <button id="showProjects7Btn" studentData-launch-view="sem7" class="col semBtn">
            7th Sem
        </button>
        <button id="showProjects6Btn" studentData-launch-view="sem6" class="col semBtn">
            6th Sem
        </button>
        <button id="showProjects5Btn" studentData-launch-view="sem5" class="col semBtn">
            5th Sem
        </button>
        <button id="showProjects4Btn" studentData-launch-view="sem4" class="col semBtn">
            4th Sem
        </button>
        <button id="showProjects3Btn" studentData-launch-view="sem3" class="col semBtn">
            3rd Sem
        </button>
        <button id="showProjects2Btn" studentData-launch-view="sem2" class="col semBtn">
            2nd Sem
        </button>
        <button id="showProjects1Btn" studentData-launch-view="sem1" class="col semBtn">
            1st Sem
        </button>
    </div>
        <!-- Load content from database -->
        <!-- Also fix hyperlink after creating each page -->
        <%- include('partials/Sems/eighth') %>
                <%- include('partials/Sems/seventh') %>
                    <%- include('partials/Sems/sixth') %>
                        <%- include('partials/Sems/fifth') %>
                            <%- include('partials/Sems/fourth') %>
                                <%- include('partials/Sems/third') %>
                                    <%- include('partials/Sems/second') %>
                                        <%- include('partials/Sems/first') %>

    </div>
    <script src="/javascripts/userChange.js"></script>
    <script src="/javascripts/linkActive.js"></script>
  </body>
</html>
