<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <style>
      option {
        border-color: royalblue;
        border-width: 2px;
      }
    </style>
  </head>
  <body style="background-color: #1f3750">
    <%- include('partials/adminHeader') %>
    <div class="container">
      <h3>Create Team</h3>
      <div class="card" style="position: relative">
        <form
          action="/project/createteams"
          class="login-form create-team"
          method="post"
          autocomplete="off"
        >
          <div class="form-group">
            <label for="projectName">Project Name</label>
            <p>:</p>
            <input
              type="text"
              class="form-control"
              id="projectName"
              name="projectname"
              required
            />
          </div>
          <div class="form-group">
            <label for="teamName">Team Name</label>
            <p>:</p>
            <input
              type="text"
              class="form-control"
              id="teamName"
              name="teamname"
              required
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <p>:</p>
            <textarea
              type="text"
              class="form-control"
              id="description"
              name="description"
            ></textarea>
          </div>
          <div class="form-group options">
            <div>
              <label for="faculty">Faculty</label>
              <p>:</p>
              <select name="faculty" id="faculty">
                <% faculty.forEach(element => { %>
                  <option value="<%= element.name %> "><%= element.name%></option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="form-group options">
            <div>
              <label for="sems">Semester</label>
              <p>:</p>
              <select name="sems" id="sems">
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
                <option value="6">6th</option>
                <option value="7">7th</option>
                <option value="8">8th</option>
              </select>
            </div>
          </div>
          <div class="form-group options">
            <div>
              <label for="subject">Subject</label>
              <p>:</p>
              <select name="subjects" id="subjects">
                <% faculty.forEach(faculty => { %>
                  <% faculty.courses.forEach(course => { %>
                   <% course.subjects.forEach(subject => { %>
                    <option value="<%= subject %> "><%= subject%></option>
                   <% }) %>
                  <% }) %>
 
                <% }) %>
              </select>
            </div>
          </div>
          <div class="form-group options">
            <div>
              <label for="supervisor">Supervisor</label>
              <p>:</p>
              <input
                list="supervisor"
                name="supervisor"
                id="addSuper"
                class="team-selection-input"
              />
              <datalist id="supervisor">
                <% if( Array.isArray(users) ) { %> <%users.forEach( function(
                users ){ %> <% if (users.userstatus=="teacher" && users.email) {
                %>
                <option><%= users.username%>: <%= users.email %></option>
                <% } %> <%})}%>
              </datalist>

              <!-- <input type="text" id="newSuper_1" name="supervisor" /> -->
              <input class="addSuper changeBtn" type="button" value="+" />
            </div>
            <fieldset id="new_supervisor" class="chosen-list"></fieldset>
          </div>
          <div class="form-group options">
            <div>
              <label for="student">Students</label>
              <p>:</p>
              <input
                list="std"
                name="std"
                id="addStudent"
                class="team-selection-input"
              />
              <datalist id="std">
                <% if( Array.isArray(users) ) { %> <%users.forEach( function(
                users ){ %> <% if (users.userstatus=="student" && users.email) {
                %>
                <option><%= users.username%>: <%= users.email%></option>
                <% } %> <%})}%>
              </datalist>
              <!-- <input type="text" id="newStud_1" name="std1"/> -->
              <input class="addStud changeBtn" type="button" value="+" />
            </div>
            <fieldset id="new_student" class="chosen-list"></fieldset>
          </div>
          <button
            type="submit"
            class="btn btn-primary logout-btn"
            id="createTeamSubmit"
            disabled
            title="Fill all fields to enable"
          >
            Create
          </button>
        </form>
      </div>
      <%- include('./partials/messages') %>
    </div>
    <script src="/javascripts/chooseUser.js"></script>
    <script src="/javascripts/enableButton.js"></script>
  </body>
</html>
