<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>

  <body style="background-color: #1f3750">
    <%- include('partials/header') %>
    <div class="container each-project">
      <h3>PROJECT'S NAME</h3>
      <h5>Detailed Logs</h5>

      <div class="row student-log-details">
        <div class="col-8 minutes-list">
          <% if( Array.isArray(minutes) ) { %> <%minutes.forEach( function(
          minutes ){ %>
          <div class="card">
            <div class="minute-header">
              <div>
                <h5 class="card-title"><%= minutes.title%></h5>
                <span class="badge badge-secondary">
                  <% if (minutes.isVerified) { %> Verified <% } else { %> Not
                  Verified <% }%>
                </span>
              </div>
              <div>
                <h6>
                  <%=minutes.createdDate.toLocaleTimeString()%>, <%=
                  minutes.createdDate.toDateString()%>
                </h6>
                <h6>By <%= minutes.createdBy%></h6>
              </div>
            </div>
            <hr style="border-top: 1px solid white; margin-top: 0px" />
            <div><%- minutes.description%></div>
            <hr style="border-top: 1px solid white; margin-top: 0px" />
            <%if(minutes.attachment.length){%>
            <h6>Uploaded Files</h6>
            <%}%>
            <div class="uploaded-images-div">
              <% minutes.attachment.forEach(function(file) { %>
              <div>
                <div class="each-image">
                  <img
                    id="<%= file._id%>"
                    alt="<%= file.name%>"
                    src="data:file/<%=file.docs.contentType%>;base64,
                     <%=file.docs.data.toString('base64')%>"
                    class="uploaded-images"
                    onerror="this.src='/assets/alternative.png';"
                  />
                  <p><%= file.name %></p>
                  <form action="/minute/download" method="GET">
                    <input type="hidden" name="data" value="<%=file.fileId%>" />
                    <button
                      class="btn btn-primary logout-btn"
                      name="action"
                      type="submit"
                    >
                      Download
                    </button>
                  </form>
                </div>
                <div>
                  <div id="myModal" class="modal">
                    <span class="closeBtn">&times;</span>
                    <img class="modal-content" id="img01" />
                    <div id="caption"></div>
                  </div>
                </div>

                <script>
                  // Get the modal
                  var modal = document.getElementById("myModal");

                  // Get the image and insert it inside the modal - use its "alt" text as a caption
                  var id = "<%=file._id%>";
                  console.log(id);
                  var img = document.getElementById(id);
                  var modalImg = document.getElementById("img01");
                  var captionText = document.getElementById("caption");
                  img.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                  };

                  // Get the <span> element that closes the modal
                  var span = document.getElementsByClassName("closeBtn")[0];

                  // When the user clicks on <span> (x), close the modal
                  span.onclick = function () {
                    modal.style.display = "none";
                  };
                </script>
              </div>
              <% }) %>
            </div>
            <%if(minutes.attachment.length){%>
            <hr style="border-top: 1px solid white" />
            <%}%> <% comments.forEach(function(cmt) { %> <% if
            (cmt.minuteId.toString()==minutes._id.toString()) { %>
            <div class="comment-section">
              <p class="comment-view">
                <%= cmt.commentedBy.split(' ').pop().charAt(0)%>.<%=
                cmt.commentedBy.split(' ')[0]%> <span><%= cmt.comment%></span>
              </p>
              <% if (cmt.commentedBy==username) { %>
              <a href="/minute/comment/delete/<%= cmt._id.toString()%>"
                ><i class="fa fa-trash"></i
              ></a>

              <% } %>
            </div>
            <% } %> <% }) %>
            <form
              class="comment-form"
              action="/minute/comment/save/<%= minutes._id.toString() %>"
              method="POST"
            >
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="cmt"
                  placeholder="Add Comments"
                />
                <button type="submit" class="btn btn-primary logout-btn">
                  Post
                </button>
              </div>
            </form>
          </div>
          <%})}%>
        </div>

        <div class="col-4 events-list">
          <div class="card">
            <h4 class="card-subtitle">Upcoming Events</h4>
            <hr style="border-top: 1px solid white; margin: 10px 0px" />
            <div class="upcoming-events-div">No Upcoming Events!</div>
            <h4 class="card-subtitle">Add Events</h4>
            <hr style="border-top: 1px solid white; margin: 10px 0px" />
            <div>
              <form method="POST" class="login-form add-events-form">
                <div class="form-group">
                  <label for="name">Title : </label>
                  <input type="" class="form-control" id="title" name="title" required />
                </div>
          
                <div class="form-group">
                  <label for="college">Description:</label>
                  <textarea
                    type="string"
                    class="form-control"
                    id="description"
                    name="description"
                    required
                  >
                  </textarea>
                </div>
                <button
                  class="btn btn-primary logout-btn events-btn"
                  name="action"
                  type="submit"
                  style="width: 30%"
                >
                  Add
                </button>
              </form>
            </div>
            <h4 class="card-subtitle">Supervisor</h4>
            <hr style="border-top: 1px solid white; margin: 10px 0px" />
            <p style="margin-bottom: 40px">Mr. Aman Shakya</p>
            <a
              type="button"
              class="btn btn-primary logout-btn events-btn"
              href="/student/eachProject/addMinutes/<%= pId%>"
            >
              Add Minutes
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
