<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body style="background-color: #1F3750;">
    <%- include('partials/header') %>
        <div class="container each-project">
            <h3>
                PROJECT'S NAME
            </h3>
            <h5>
                Detailed Logs
            </h5>

            <div class="row student-log-details">
                <div class="col-8 minutes-list">
                    <% if( Array.isArray(minutes) ) { %>
                        <%minutes.forEach( function( minutes ){ %>
                            <div class="card ">
                                <h4 class="card-title">Proposal Submitted</h4>
                                <div>
                                    <h1>
                                        <%= minutes.title%>
                                    </h1>
                                    <h3>
                                        <%= minutes.createdDate%>
                                    </h3>
                                    <h3>
                                        <%= minutes.createdBy%>
                                    </h3>
                                    <div>
                                        <%= minutes.description%>
                                    </div>

                                </div>
                                <h5>Uploaded Images</h5>
                                <div>

                                    <div>
                                        <div>

                                            <div>
                                                <h5>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <% })} %>
                </div>
                <div class="col-4 events-list">
                    <div class="card ">
                        <h4 class="card-title">Upcoming Events</h4>
                        <a type="button" class="btn btn-primary" href="/student/eachProject/addMinutes"> Add Minutes
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/userChange.js"></script>
        <script src="/javascripts/linkActive.js"></script>
</body>

</html>