<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>

  <body style="background-color: #1f3750">
    <% if (userstatus=="teacher" ) { %> <%- include('partials/teacherheader') %>
    <% } else if (userstatus=="student" ) { %> <%- include('partials/header') %>
    <% } else { %> <%- include('partials/adminHeader') %> <% } %>
    <div class="student-dashboard container">
      <!--admin lai team create garna ra defense call garna-->
      <%if (userstatus=="admin" ){%>
      <a
        type="button"
        class="btn btn-primary logout-btn admin"
        href="/admin/createTeam"
      >
        Create New Team
      </a>
      <a
        type="button"
        class="btn btn-primary logout-btn admin"
        href="/admin/defenseCall"
      >
        Defense Call
      </a>
      <%}%>

      <!-- ADMIN ra teacher lai masters bachelors button dekhauna-->
      <%if (userstatus=="admin" || userstatus=="teacher" ){%>
      <div class="buttons-div row">
        <button
          id="BachelorsBtn"
          level-launch-view="bachelors"
          class="col semBtn"
        >
          Bachelors
        </button>
        <button id="MastersBtn" level-launch-view="masters" class="col semBtn">
          Masters
        </button>
      </div>
      <%}%>
      <!-- for master student -->
      <%if (userstatus=="student" ){%>
      <div class="buttons-div row">
        <%if (userlevel=="bachelors" ){%>
        <button
          id="BachelorsBtn"
          level-launch-view="bachelors"
          class="col semBtn"
        >
          Bachelors
        </button>
        <%}%> <%if (userlevel=="masters" ){%>
        <button id="MastersBtn" level-launch-view="masters" class="col semBtn">
          Masters
        </button>
        <%}%>
      </div>
      <%}%>

      <!--for generating sem buttons-->
      <div class="buttons-div row" id="bachBtns">
        <%var elements = []%> <% for( let i=8; i>= 1; i-- ) { var c =0;%> <%
        projects.forEach(project=> { %> <% if (project.semester==i.toString()) {
        %><% c=c+1 %> <% } %> <% }) %> <% if (c>0) { %>
        <button
          id="showProjects<%= i %> Btn"
          studentData-launch-view="sem<%= i %> "
          class="col semBtn mult"
        >
          <% elements.push(i)%> Sem <%= i %> <% console.log(elements.length)%>
          <%var current = Math.max(...elements)%>
        </button>
        <% } %> <% } %>
        <h1 id="currentSem" style="display: none"><%= current%></h1>
      </div>

      <%- include('partials/Sems/thesis') %>
      <div id="bachContent">
        <%- include('partials/Sems/eighth') %> <%-
        include('partials/Sems/seventh') %> <%- include('partials/Sems/sixth')
        %> <%- include('partials/Sems/fifth') %> <%-
        include('partials/Sems/fourth') %> <%- include('partials/Sems/third') %>
        <%- include('partials/Sems/second') %> <%-
        include('partials/Sems/first') %>
      </div>

      <div><%- include('./partials/messages') %></div>
    </div>

    <script>
      $(document).ready(function (e) {
        var currentSem = $("#currentSem").html();
        console.log(currentSem);
        if (currentSem !== "") {
          $(".col.semBtn.mult:first").addClass("activeBtn");
          $("#sem" + currentSem).show();
        } else {
          $("#MastersBtn").addClass("activeBtn");
          $("#thesis").show();
        }
      });
    </script>

    <script src="/javascripts/userChange.js"></script>
    <script src="/javascripts/linkActive.js"></script>
  </body>
</html>
