<% if( Array.isArray(minutes) ) { %>
    <ul>
        <%minutes.forEach( function( minutes ){ %>
            <div>
                <h1>
                    <%= minutes.title%>
                </h1>
                <h3>
                    <%= minutes.createdDate%>
                </h3>
                <h3>
                    <%= minutes.createdBy%>
                </h3>
                <div>
                    <%= minutes.description%>
                </div>

            </div>
            <h5>Uploaded Images</h5>
            <div>
                <% minutes.attachment.forEach(function(file) { %>
                    <div>
                        <div>
                            <form method="GET" action="/download">
                                <input type="hidden" name="data" value="<%=file.docs.data%>">
                                <input type="hidden" name="content" value="<%=file.docs.contentType%>">
                                <button class="btn btn-primary logout-btn" name="action" type="submit">Download</button>
                            </form>
                            
                            <div>
                                <h5>File name: <%= file.name %>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <% })} %>