
<div class="view hide hidden" id="sem1">
    <h5>Ongoing Projects</h5>
    <% if( Array.isArray(projects) ) { %>
    <%projects.forEach( function(projects ){ %>
    <% if(projects.semester=="1" ) { %>
    <div class="card ">
        <div class="project-card">
            <h4 class="card-title"><%= projects.projectname%></h4>
            <p class="card-text">SUPERVISED BY: <%= projects.supervisor%><br />
                STUDENTS:
                <% projects.team.forEach(function(team) { %>
                <% if(team!=null ) { %>
                <%= team.split(' ').pop().charAt(0)%>.<%=
                                team.split(' ')[0]%>,<% }}) %><br />

                CREATED ON: projects.createdDate</p>
        </div>
        <a href="/student/eachProject/<%= projects._id.toString()%>" class="stretched-link"></a>
    </div>
    <%}})}%>
</div>